:root {
	--color-primary: hsl(25, 97%, 53%);
	--color-white: hsl(0, 0%, 100%);
	--color-light-grey: hsl(217, 12%, 63%);
	--color-medium-grey: hsl(216, 12%, 54%);
	--color-dark-blue: hsl(213, 19%, 18%);
	--color-very-dark-blue: hsl(216, 12%, 8%);

	--body-font-size: 1.5rem;
	--body-font-size-mobile: 1.4rem;

	--heading-font-size: 2.8rem;
	--heading-font-size-mobile: 2.4rem;
	--heading-font-color: var(--color-white);
}

* {
	margin: 0;
	padding: 0;
}

*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
}

body {
	font-family: 'Overpass', sans-serif;
	font-weight: 400;
	font-size: var(--body-font-size);
	line-height: 1.5;
	background-color: black;
	color: var(--color-light-grey);

	@media screen and (max-width: 768px) {
		font-size: var(--body-font-size-mobile);
	}
}
